<!-- サクセスメッセージの表示 -->
<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>


<section>
    <div class="container">
        <div class="row">
          <!-- ユーザー情報 and 新規投稿 -->
            <div class="col-xs-3">
          <!-- ユーザー情報 -->
              <h2>User info</h2>
              <%= attachment_image_tag @book_detail.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %>
                  <table class="table">
                    <tbody>
                       <tr>
                          <th>name</th>
                          <th><%= @book_detail.user.name %></th>
                       </tr>
                       <tr>
                          <th>introduction</th>
                          <th><%= @book_detail.user.introduction %></th>
                       </tr>
                    </tbody>
                  </table>
                  <!-- 編集ボタン -->
                  <div class="row">
                    <%= link_to edit_user_path(@user.id) do %>
                        <div class="btn btn-default btn-block">
                          <span class="glyphicon glyphicon-wrench aria-hidden="true"></span>
                        </div>
                    <% end %>
                  </div>

          <!-- 新規投稿フォーム -->
          <div class="row">
            <div class="col-xs-12">
              <h2>New book</h2>
                  <%= form_for(@book) do |f| %>
                      <h4 class="form-title">Title</h4>
                      <%= f.text_field :title, class: "form-control" %>

                      <h4 class="form-body">Opinion</h4>
                      <%= f.text_area :body, class: "form-control" %>

                      <div class="col-xs-12 btn">
                        <%= f.submit 'Create Book', class: "btn-primary form-control" %>
                      </div>
                  <% end %>
                </div>
            </div>
          <!-- 新規投稿フォーム -->

            </div>
            <!-- 投稿のDetail-->
            <div class="col-xs-9">
                <h2>Book detail</h2>
                  <table class="table">
                      <tbody>
                          <tr>
                              <td><%= link_to user_path(@book_detail.user.id) do %>
                                <%= attachment_image_tag @book_detail.user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'30x30' %><br><%= @book_detail.user.name %>
                                  <% end %>
                              </td>
                              <td><%= link_to @book_detail.title, book_path(@book_detail.id) %></td>
                              <td><%= @book_detail.body %></td>
          <!-- ログイン中の削除、編集機能-->
                              <% if @book_detail.user_id == current_user.id %>
                              <td><%= link_to edit_book_path(@book_detail.id) do %>
                                      <button type="button" class="btn btn-success btn-sm">Edit</button>
                              </td>
                              <% end %>
                              <td><%= link_to book_path(@book_detail.id), method: :delete do %>
                                      <button type="button" class="btn btn-danger btn-sm">Destroy</button>
                                  <% end %>
                              </td>
                              <% end %>
                          </tr>
                      </tbody>
                  </table>
          <!-- 投稿のDetail-->


            </div>

        </div>
    </div>

</section>
